
- if (Array.isArray(errors) && errors.length)
    - each error in errors
        span.alert.alert-warning.label.small-font.error= error

- if ('string' === typeof error && error.length)
    span.alert.alert-warning.label.small-font.error= error