block viewVars
doctype html
html(lang='en' ng-app='app')
    head
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title= title

        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')
        link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css')

        block styles

        - if (config.env === 'development')
            //!= LRScript
        block head

    body
        block pre-body

        .main
            .container
                block body

        block scripts
