extends layout


block viewVars
    - var title = 'Sign In'


block body
    .container
        h2.form-signin-header Sign In
        br
        #form-login-errors
            include includes/error

        - if (Array.isArray(messages) && messages.length)
            - each message in messages
                span.alert.alert-success.label.small-font= message

        - if ('string' === typeof messages && messages.length)
            span.alert.alert-success.label.small-font= messages

        .form-signin-content(style='max-width: 300px;')
            form.form-signin(method='POST', action='/login')
                .form-group
                    input.form-control(type='text', name='username', placeholder='Username', autofocus)
                .form-group
                    input.form-control(type='password', name='password', placeholder='Password')
                button.btn.btn-large.btn-primary(type='submit') Sign In
