extends layout

block styles

block body
    .container
        h2 Error
        - if ('undefined' !== typeof errors && errors.length)
            - each error in errors
                pre.code-block= error
                br
        - if ('undefined' !== typeof error && error.length)
            span.label.label-danger.small-font
                pre.code-block= error