block viewVars
doctype 5
html(lang='en' ng-app='hyp')
    head
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title= title

        //link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootswatch/3.0.2/spacelab/bootstrap.min.css')
        link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css')
        link(rel='stylesheet', href='/css/style.css')
        block styles

        - if (config.env === 'development')
            //!= LRScript
        block head

    body
        block pre-body

        .main
            .container
                block body

        script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.2/js/bootstrap.min.js')

        block scripts

        - if (isAuthenticated === true)
            block angular-init
            block angular-app
